@charset "UTF-8";
.blogPost {
  padding-top: 15rem;
}
.blogPost__box {
  max-width: 1100px;
  margin: 0 auto;
}
.blogPost__image img {
  width: 100%;
  height: auto;
  border-radius: 5rem;
}
.blogPost img {
  padding: 1rem;
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5rem;
}
.blogPost h1 {
  font-size: 2.4rem;
  margin-bottom: 1.25rem;
  color: #2c3e50;
  font-weight: 700;
  line-height: 1.3;
  padding: 1rem;
}
.blogPost .section {
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  border-bottom: 0.125rem solid #ecf0f1;
}
.blogPost .section h2 {
  font-size: 1.8rem;
  margin-bottom: 0.625rem;
  color: #34495e;
}
.blogPost .section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blogPost .section li {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.blogPost .section li:before {
  content: "• ";
  position: absolute;
  left: 0;
  color: #5b96ac;
}
.blogPost .section__content {
  color: #707979;
  line-height: 1.5;
  text-align: left;
}
.blogPost .section__content a {
  color: #5b96ac;
  text-decoration: none;
  font-weight: 600;
}
.blogPost .section__content a:hover {
  text-decoration: underline;
}
.blogPost .section__content blockquote {
  background: rgba(252, 252, 252, 0.96);
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  position: relative;
  font-style: italic;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}
.blogPost .section__content blockquote::before {
  content: "“";
  font-size: 4rem;
  color: #5b96ac;
  position: absolute;
  left: 1.5rem;
  top: 0;
  line-height: 1;
  opacity: 0.1;
}
.blogPost .section__content blockquote footer {
  display: block;
  margin-top: 1.2rem;
  font-style: normal;
  font-weight: 600;
  color: #5b96ac;
  text-align: right;
  font-size: 1.4rem;
}
.blogPost .backButton {
  display: block;
  margin: 1.25rem auto;
  padding: 0.9rem 1.25rem;
  background-color: #5b96ac;
  color: #fcfcfc;
  text-align: center;
  border-radius: 0.8rem;
  text-decoration: none;
  width: 15.5rem;
  transition: background-color 0.3s;
}
.blogPost .backButton:hover {
  background-color: #4023df;
}
.blogPost .imageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}
.blogPost .imageGrid img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .blogPost .imageGrid img {
    width: calc(33.33% - 1rem);
  }
}
.blogPost .imageGrid img:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.testimonial {
  background: rgba(252, 252, 252, 0.85);
  border-left: 4px solid #5b96ac;
  padding: 2.5rem 2rem;
  margin: 3rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.06);
  position: relative;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #050505;
  font-style: normal;
  transition: box-shadow 0.3s ease;
}
.testimonial::before {
  content: "“";
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  font-size: 8rem;
  color: #5b96ac;
  opacity: 0.05;
  pointer-events: none;
  z-index: 0;
}
.testimonial strong {
  display: block;
  margin-top: 2rem;
  font-weight: 600;
  color: #5b96ac;
  font-size: 1.4rem;
  font-style: normal;
  text-align: right;
}
.testimonial:hover {
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .blogPost h1 {
    font-size: 2.6rem;
  }
  .blogPost .section h2 {
    font-size: 2rem;
  }
  .blogPost .section p {
    font-size: 1.4rem;
  }
  .blogPost .backButton {
    font-size: 1.8rem;
    width: 20rem;
  }
}
@media screen and (min-width: 992px) {
  .blogPost {
    padding-top: 9rem;
  }
  .blogPost h1 {
    font-size: 2.8rem;
  }
  .blogPost__image img {
    width: 100%;
    height: auto;
    max-height: 30rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5rem;
  }
  .blogPost__image.specialImage img {
    -o-object-position: 25% 75%;
       object-position: 25% 75%;
  }
  .blogPost__image.largeImage img {
    min-height: 50rem;
  }
  .blogPost__image.polerowanieReflektorow img {
    min-height: 100rem !important;
  }
  .blogPost .foliaMaxWidth {
    display: flex;
    justify-content: center;
  }
  .blogPost .foliaMaxWidth img {
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.8);
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .blogPost .section h2 {
    font-size: 2.2rem;
  }
  .blogPost .section p {
    font-size: 1.6rem;
  }
  .blogPost .imageGrid img {
    height: auto;
  }
  .blogPost .backButton {
    font-size: 2rem;
  }
}/*# sourceMappingURL=blogStrona.module.css.map */