@import "../styles/_colors.scss";

@mixin heroImages($bgImgMobile, $bgImgDesktop) {
  background-image: $light-blue-gradient, url(#{$bgImgMobile});
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;

  @media (min-width: 992px) {
    background-image: $light-blue-gradient, url(#{$bgImgDesktop});
  }
}
