@import "./colors";

@import "hamburgers/dist/hamburgers.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Oxygen", sans-serif;
}

#O-nas,
#usługi,
#galeria,
#kontakt {
  padding-top: 8.3rem; // Wysokość twojego paska nawigacji + dodatkowy margines
  margin-top: -8.3rem; // Odpowiednie przesunięcie w górę
}

@media only screen and (max-width: 768px) {
  #O-nas,
  #usługi,
  #galeria,
  #kontakt {
    padding-top: 8rem; // Mniejszy dla urządzeń mobilnych
    margin-top: -8rem;
  }
}
