@import "./colors";

@import "hamburgers/dist/hamburgers.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Oxygen", sans-serif;
}

#aboutUs,
#services,
#gallery,
#contact {
  padding-top: 9rem; // Wysokość twojego paska nawigacji + dodatkowy margines
  margin-top: -9rem; // Odpowiednie przesunięcie w górę
}

@media only screen and (max-width: 768px) {
  #aboutUs,
  #services,
  #gallery,
  #contact {
    padding-top: 8rem; // Mniejszy dla urządzeń mobilnych
    margin-top: -8rem;
  }
}
