@import "../../styles/colors";

@import "../../styles/colors";

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-smooth-hover;
  color: $white-smooth;
  // box-shadow: 0 0.4rem 8px rgba(235, 232, 232, 0.1); // Dodajemy subtelny cień
  // border: 1px solid rgba(227, 217, 217, 0.2); // Dodajemy cienką linię obramowania
  // border-radius: 10px; // Dodajemy zaokrąglenie narożników
  // min-height: 100vh;

  &__img {
    width: 100%;
    max-width: 100%;
    // max-height: 50%;
    // border: 2px solid black;
    background-color: $dark-smooth;
    // border-radius: 2rem;
    height: 100%;
    padding: 2rem;
    box-shadow: 0.3rem 0.4rem 0.8rem rgba(235, 232, 232, 0.1);
    border: 1px solid rgba(61, 54, 54, 0.9);
    // border-radius: 1rem;
  }

  &__header {
    font-size: 2.2rem;
    padding: 2rem;
    text-align: center;
  }

  &__text {
    font-size: 1.8rem;
    margin: 2rem;
    padding: 1rem;
  }

  &__list {
    list-style: none;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;

    li {
      font-size: 1.8rem;
      color: $white-smooth;
      margin-bottom: 0.5rem;
    }
  }

  &__socialLinks {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: $white-smooth;
      margin: 0 1rem;
      font-size: 2.4rem;

      &:hover {
        color: $blue-main;
      }
    }
  }

  &__content {
    // box-shadow: 0.3rem 0.4rem 0.8rem rgba(235, 232, 232, 0.2);
    // border: 1px solid rgba(48, 44, 44, 0.9);
    border-radius: 1rem;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.realizationButton {
  padding: 1rem 2rem;
  background-color: $white-smooth;
  color: $dark-smooth;
  text-decoration: none;
  flex-direction: column;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($blue-main, 10%);
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .aboutMe {
    &__header {
      font-size: 3.2rem;
    }

    &__text {
      font-size: 2.2rem;
    }

    &__list {
      li {
        font-size: 2.4rem;
      }
    }
  }

  .realizationButton {
    font-size: 2.4rem;
  }
}

@media (min-width: 992px) {
  .aboutMe {
    flex-direction: row;
    align-items: center;

    &__header {
      font-size: 3.4rem;
    }

    //   .actionContainer {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;

    //     .buttonContainer {
    //       padding-bottom: 1rem;
    //     }

    //     &__socialLinks {
    //       padding-top: 1rem;
    //     }
    //   }
    // }

    // &__img {
    //   flex: 1;
    //   padding: 2rem;
    // }

    .realizationButton {
      font-size: 3rem;
    }
  }
}
