@import "../../styles/colors";

.contactBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-after-hover;
  padding: 0.8rem;
  color: $white-smooth;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba($dark-smooth, 0.9);

  .contactButtonsWrapper {
    display: flex;

    gap: 3.6rem;
  }

  .contactButton {
    color: $white-smooth;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    &:hover {
      background-color: darken($blue-after, 10%);
    }

    .icon {
      margin-right: 1rem;
      font-size: 2rem;
    }
  }
}
.separator {
  width: 1px;
  border-bottom: 5rem solid $white-smooth;
}

@media screen and (min-width: 992px) {
  .contactBar {
    display: none;
  }
}
