@import "../../styles/colors";

.hero {
  position: relative;
  width: 100%;
  height: 53vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba($blue-after, 0.2) 70%,
        rgba(0, 0, 0, 0.5)
      ),
      url("../../assets/image/hero2_640.jpg");
    // background-attachment: fixed;
    background-size: cover;
    background-position: center;
    // background-repeat: no-repeat;
    z-index: -1;
    transform: translateY(0);
    transition: transform 0.5s ease-out;
    // filter: brightness(0.6);
  }

  &__title {
    color: $white-smooth;
    z-index: 2;
    text-shadow: 3px 3px 6px rgba($dark-smooth, 0.9);
  }

  .whiteBlock {
    position: absolute;
    height: 40px;
    width: 80%;
    background: $white-smooth;
    transform: skew(-45deg);
    z-index: 3;

    &Left {
      bottom: 0;
      left: -50px;
    }

    &Right {
      top: 0;
      right: -50px;
      transform: skew(45deg);
    }
  }
}

.hero__title {
  &Span {
    color: $green2;
    font-weight: bold;
  }
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 2rem;
  transition: filter 1s ease-out;

  p {
    color: $white-smooth;
    text-shadow: 3px 3px 6px rgba($dark-smooth, 0.9);
  }
}

.hero h1 {
  font-size: 2.6rem;
}

.hero p {
  font-size: 1.6rem;
}

.button {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 0.8rem 1.4rem;
  font-size: 1.6rem;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  border-radius: 0.4rem;
  color: $dark-smooth;
  background-color: $white-smooth;
  box-shadow: 0.2rem 0.4rem 0.6rem rgba(56, 201, 34, 0.2);
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $blue-after;
    box-shadow: 0.5rem 0.8rem 1rem rgba($blue-main, 0.4),
      0 0 1rem rgba($blue-after, 0.5);
    transform: scale(1.05);
  }
}

.customHeroTitle {
  font-size: 10rem;
  color: #d35400;
  text-align: left;
  padding-top: 20px;
}

.customHeroTitleRealizations {
  text-shadow: 2px 2px 4px rgba($dark-smooth, 0.9);
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 3.4rem;
  }

  .hero p {
    font-size: 2rem;
  }

  .button {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .hero {
    &::before {
      position: fixed;

      background-image: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba($blue-after, 0.2) 70%,
          rgba(0, 0, 0, 0.5)
        ),
        url("../../assets/image/hero2_1920.jpg");
    }
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 2.4rem;
  }

  .button {
    font-size: 2.4rem;
  }
}
