.sliderContainer {
  width: 100%;
  position: relative;
}

.slider {
  width: 100%;
  max-width: 60rem;
  // aspect-ratio: 70 / 45;
  margin: auto;
  overflow: hidden;
  position: relative;
  cursor: ew-resize;
}

.sliderImageAfter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  // max-width: 700px;
  overflow: hidden;
}

.sliderHandle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  // background-color: red;
  cursor: ew-resize;
  // z-index: 1000;
}
