@import "../../styles/colors";

.titleSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-smooth;
  color: $white-smooth;
  font-size: 2rem;
  padding: 2rem;
}

.sliderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: $dark-smooth;
}

.sliderGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  justify-items: center;

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .titleSlide {
    font-size: 2.4rem;
  }
}
