@import "../../styles/colors";

.titleSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-smooth;
  color: $white-smooth;
  font-size: 2rem;
  padding: 2rem;
}

.sliderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: $dark-smooth;
}

.sliderGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  justify-items: center;

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.realizationButton {
  padding: 1rem 2rem;
  background-color: $white-smooth;
  color: $dark-smooth;
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($blue-main, 10%);
    text-decoration: none;
  }
}

@media (min-width: 992px) {
  .titleSlide {
    font-size: 2.4rem;
  }
}
