.sliderContainer {
  width: 100%;
  position: relative;
}

.slider {
  width: 100%;
  max-width: 80rem;
  aspect-ratio: 70 / 45;
  margin: auto;
  overflow: hidden;
  position: relative;
  cursor: ew-resize;
}

.sliderImageAfter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
}

.sliderHandle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%; // Kształt okrągły
  background-color: #fff; // Biały kolor tła
  border: 2px solid black; // Czarna obwódka
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // Ikona strzałki (możesz dostosować według potrzeb)
  &::after {
    content: "↔"; // Symbol strzałek
    font-size: 2.4rem;
    color: black;
    line-height: 1;
  }
}
