@import "../../styles/colors";

.slideBox {
  position: relative;
  margin: 2rem;
  background-color: $dark-smooth-hover;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sliderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
}

.imageBefore {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  object-fit: cover;
}

.titleSlide {
  color: $white-smooth;
}

.sliderInput {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  cursor: pointer;
  opacity: 0;
}

.line::after {
  position: absolute;
  content: "";
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;

  background-size: cover;
  background-color: $white-smooth;
}

@media (min-width: 992px) {
  .slideBox {
    display: grid;
    flex-direction: row;
  }

  .sliderContainer {
    flex-direction: row;
  }
  .imageBefore {
    flex-direction: row;
  }
}

.sliderInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px; /* Rzeczywisty rozmiar kciuka */
  width: 24px;
  border-radius: 50%;
  background: $white-smooth;
  cursor: pointer;
  position: relative; /* Pozycja względna dla pseudoelementu */
  z-index: 2; /* Upewnij się, że kciuk jest nad paddingiem */
}

/* Styl dla paddingu kciuka (Webkit/Blink) */
.sliderInput::before {
  content: "";
  position: absolute;
  top: -6px; /* Rozszerzenie obszaru dotykowego na górę */
  left: -6px; /* Rozszerzenie na lewo */
  right: -6px; /* Rozszerzenie na prawo */
  bottom: -6px; /* Rozszerzenie na dół */
  border-radius: 50%;
  background: transparent; /* Przezroczyste tło */
  z-index: 1; /* Upewnij się, że pseudoelement jest pod kciukiem */
}

.sliderInput::-moz-range-thumb {
  border: 1px solid $dark-smooth;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $white-smooth;
  cursor: pointer;
}

.sliderInput::-ms-thumb {
  border: 1px solid $dark-smooth;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $white-smooth;
  cursor: pointer;
}
