@import "../../styles/colors";

.referencySection {
  padding-top: 14rem;
  background: linear-gradient(
    200deg,
    $blue-after 1%,
    $white-smooth,
    $white-smooth
  );

  h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba($dark-smooth, 0.15);
  }
}

.photosContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 992px) {
  .referencySection {
    padding-top: 10rem;

    h1 {
      font-size: 3rem;
    }
  }

  .photosContainer {
    padding: auto;
    align-items: center;
    img {
      width: 55rem;
    }
  }
}
