@import "../../styles/colors";

.footer {
  background-color: $blue-after;
  color: $white-smooth;

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;

    &Info {
      margin-top: 0.7em;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    list-style: none;

    li {
      margin: 0 0.4rem;

      a {
        color: $white-smooth;
        text-decoration: none;
        &:hover {
          color: $blue-main;
        }
      }
    }
  }
}
