@import "../../styles/colors";

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-smooth;
  min-height: 100vh;
  padding-top: 10.5rem;
  max-width: 1200px;
  margin: 0 auto;

  &__grid {
    display: grid;
    gap: 2rem;
    width: 100%;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    img {
      max-width: 100%;
      border-radius: 0.2rem;
      height: 100%;
      box-shadow: 0.3rem 0.4rem 0.8rem rgba(232, 232, 235, 0.1);
      border: 1px solid rgba(61, 54, 54, 0.2);
    }
  }

  &__header {
    font-size: 2.2rem;
    padding: 1rem;
    text-align: center;
  }

  &__text {
    font-size: 1.8rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0.3rem 0.4rem 0.8rem rgba(232, 232, 235, 0.9);
    border: 2px solid rgba(61, 54, 54, 0.1);
    text-align: center;
  }

  &__content {
    padding: 0.5rem;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;

  padding: 2rem;
}

.realizationButton {
  padding: 1rem 2rem;
  background-color: $blue-after;
  color: $white-smooth;
  text-decoration: none;
  flex-direction: column;
  border-radius: 0.4rem;
  margin-top: -1rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($blue-main, 10%);
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .aboutMe {
    &__header {
      font-size: 3.4rem;
    }

    &__text {
      font-size: 2.4rem;
    }
  }

  .realizationButton {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .aboutMe {
    flex-direction: column;
    // padding-top: 0;

    &__grid {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    &__header {
      font-size: 3.2rem;
      grid-column: span 2;
      text-align: center;
    }

    &__box {
      img {
        box-shadow: 0.3rem 0.4rem 0.8rem 0.44rem rgba(232, 232, 235, 0.1);
        max-width: 100%;
      }
    }

    &__text {
      font-size: 2.4rem;
    }

    .buttonContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-column: span 2;
    }
  }

  .realizationButton {
    font-size: 2.2rem;
    margin-top: 0;
  }
}
