@import "../../styles/colors";

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-smooth;
  color: $white-smooth;
  min-height: 100vh;
  padding-top: 10rem;
  max-width: 1400px;
  margin: 0 auto;

  &__img {
    max-width: 100%;

    border-radius: 0.2rem;
    height: 100%;
    box-shadow: 0.3rem 0.4rem 0.8rem rgba(232, 232, 235, 0.1);
    border: 1px solid rgba(61, 54, 54, 0.9);
  }

  &__header {
    font-size: 2.2rem;
    padding: 1rem;
    text-align: center;
  }

  &__text {
    font-size: 1.8rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0.3rem 0.4rem 0.8rem rgba(232, 232, 235, 0.1);
    border: 1px solid rgba(61, 54, 54, 0.1);
    background-color: $dark-smooth-hover;
    text-align: center;
  }

  &__content {
    margin: 1.2rem;
    background-color: $dark-smooth;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.realizationButton {
  padding: 1rem 2rem;
  background-color: $white-smooth;
  color: $dark-smooth;
  text-decoration: none;
  flex-direction: column;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($blue-main, 10%);
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .aboutMe {
    &__header {
      font-size: 3.4rem;
    }

    &__text {
      font-size: 2.4rem;
    }
  }

  .realizationButton {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .aboutMe {
    flex-direction: row;

    &__img {
      box-shadow: 0.3rem 0.4rem 0.8rem 0.44rem rgba(232, 232, 235, 0.1);
      border: none;
    }

    &__header {
      font-size: 3.2rem;
    }

    &__text {
      font-size: 2.8rem;
    }

    .buttonContainer {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
    }
  }

  .realizationButton {
    font-size: 2rem;
  }
}
