@import "../../styles/colors";

.logo {
  position: fixed;
  top: 1.9rem;
  left: 2rem;
  max-height: 15rem;

  z-index: 10000;

  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .logo {
    top: -0.8rem;
    left: 10rem;
  }
}
