@import "../../styles/colors";

.logo {
  position: fixed;
  top: -3rem;
  left: -2.7rem;

  z-index: 10000;

  img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .logo {
    top: -6.3rem;
    left: 10rem;

    img {
      width: 23rem;
      height: 23rem;
    }
  }
}
