@import "../../styles/colors";

.logo {
  position: fixed;
  top: 4.8rem;
  left: -1.5rem;

  z-index: 1000;

  img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .logo {
    top: -6.3rem;
    left: 10rem;

    img {
      width: 23rem;
      height: 23rem;
    }
  }
}
