@import "../../styles/_colors.scss";

.nav {
  position: fixed;
  top: 7rem;
  right: 0;
  height: 100vh;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;

  &__show {
    top: 8.6rem;
    transform: translateX(0);
    min-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
    background-color: rgba($dark-smooth, 0.9);
    font-weight: bold;

    &:hover {
      color: $blue-after;
    }

    ul {
      opacity: 1.9;
      li {
        opacity: 1;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__desktop {
    transform: translateX(0);
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.nav ul li {
  font-size: 2.4rem;
  padding: 0.5rem;
  color: $white-smooth;
  text-align: center;
  cursor: pointer;
  margin: 0.5rem; /* Dodanie marginesów wokół elementów listy */
  width: 100%; /* Sprawienie, że przyciski będą miały taką samą szerokość */
  max-width: 200px; /* Maksymalna szerokość dla przycisków */
}

.nav ul li a {
  text-decoration: none;
  color: $white-smooth;
  transition: color 0.3s ease;
  display: block;
  padding: 1rem; /* Dodanie paddingu dla większego obszaru klikalnego */
}

.nav ul li a:hover {
  color: $blue-after;
}

@media (max-width: 992px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    li {
      background-color: $blue-after;
      box-shadow: 0.3rem 0.4rem 0.8rem rgba(235, 232, 232, 0.1);
      border: 1px solid rgba(61, 54, 54, 0.9);
      margin: 1rem;
      border-radius: 0.4rem;

      a {
        width: 100%;
        padding: 1rem; /* Mniejszy padding */
      }
    }
  }
}

@media (min-width: 768px) {
  .nav ul li a {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    height: 9rem;
    display: flex;
    flex-direction: row;

    justify-content: center;
    transform: none;
    left: 0;
    top: 0;
    background-color: $dark-smooth;

    opacity: 0.9;
    z-index: 1000;
    box-shadow: 2rem 0.5rem 0.5rem 0.2rem $blue-after;

    &::before,
    &::after {
      transition: 0.3s;
    }

    &__items {
      margin: 0 1rem;

      &:hover::before,
      &:hover::after {
        display: none;
      }
    }

    &__item {
      &::after,
      &::before {
        display: none;
      }
    }
  }

  .nav ul li a {
    font-size: 2.4rem;
    font-weight: normal;
  }

  .menu {
    flex-direction: row;
  }
}
